$font-primary: 'Signika', sans-serif;
$font-secondary: 'Pokemon', sans-serif;

$white: #ffffff;
$yellow-light: #fffc9f;
$yellow: #f8e700;
$blue: #393ed2;
$blue-dark: #0a0fbc;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-full: 1400px;