$font-primary: 'Signika', sans-serif;
$font-secondary: 'Pokemon', sans-serif;

$white: #ffffff;
$yellow-light: #fffc9f;
$yellow: #fbd743;
$red: #ff1f1f;
$blue: #5db9ff;
$blue-dark: #363b81;
$blue-darker: #0a0fbc;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-full: 1400px;


$z-index: (
  pagination: 1000,
  overlay: 1001,
);