{
  "plugins": [
      "react"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "env": {
      "es6":     true,
      "browser": true,
      "node":    true,
      "mocha":   true
  },
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "rules": {
    "semi": [2, "always"],
    "indent": ["error", 2],
    "object-curly-spacing": ["error", "always"],
    "no-extra-parens": "off",
    "max-len": ["error", { "code": 100 }],
    "no-multi-spaces": "error",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "react": {
      "version": "17.0.2"
    }
  }
}