@import '~/sass/variables';
@import '~/sass/mixins';

.pokemon-stats {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &--title {
    font-size: 12px;
    text-transform: uppercase;
    color: $grey-light;
    margin-bottom: 12px;
  }
}

.pokemon-stat-items {
  display: grid;
  gap: 18px;

  .pokemon-stat {
    margin-right: 18px;
    color: white;
    background-color: $grey-lighter;
    border: 1px solid $grey;
    padding: 12px;
    min-width: 80px;

    &--title {
      font-size: 12px;
    }

    &--text {
      font-size: 22px;
    }
  }

  @include max_breakPoint(1199) {
    grid-template-columns: repeat(3,1fr);
  }
  
  @include xl_breakpoint {
    grid-template-columns: repeat(6,1fr);
  }
}