@import '~/sass/variables';

.pokemon-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  &--title {
    font-size: 12px;
    text-transform: uppercase;
    color: $grey-light;
  }

  &--text {
    font-size: 48px;
    color: $grey;
  }
}