@import '~/sass/variables';
@import '~/sass/mixins';

.pokemon-abilities {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  box-sizing: border-box;

  &--title {
    font-size: 16px;
    text-transform: uppercase;
    color: $grey-light;
    margin-bottom: 12px;
  }
}

.pokemon-ability-items {
  display: flex;

  .pokemon-ability {
    margin-right: 18px;
    color: white;
    background-color: $pink;
    border: 1px solid $grey;
    padding: 12px;
    min-width: 80px;

    &--title {
      font-size: 16px;
      color: $yellow;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 12px;
    }

    &--effect, &--shortEffect {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      // color: $grey;

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      strong {
        color: $green;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
  }

  @include max_breakPoint(767) {
    flex-direction: column;

    .pokemon-ability {
      margin-bottom: 18px;
    }
  }
}